/*##########################################
Name: Default styling for Niceforms v.1.0
Author: Lucian Slatineanu
URL: http://www.badboy.ro/
##########################################*/

/*Forms defaults - change as needed*/
input, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#404040;
	outline: none;
}
label {
	color:#000;
	cursor:pointer;
	padding-left:2px;
	line-height:16px;
}
label.chosen {color:#333; }
label.required{color:#333; font-weight: bold;}
/*Transparent items*/
.outtaHere {
	position:absolute;
	left:-3000px;
}

/*Radio buttons*/
.radioArea, .radioAreaChecked {
	display:block;
	float:left;
	clear:left;
	width:15px;
	height:14px;
	font-size:0;
	cursor:pointer;
}
.radioArea {background:url(../images/radio.png) no-repeat left top;}
.radioAreaChecked {background:url(../images/radio.png) no-repeat left bottom;}

/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	display:block;
	width:13px;
	height:13px;
	font-size:0;
	padding:0;
	margin:0;
	cursor:pointer;
}
.checkboxArea {background:url(../images/checkbox.png) no-repeat left top;}
.checkboxAreaChecked {background:url(../images/checkbox.png) no-repeat left bottom;}
.focused {border:1px dotted #ddd;}

/*Text inputs*/
.textinput, .textinputHovered {
	height:15px;
	background:url(../images/input_bg.png) repeat-x left top;
	border:none;
	padding:4px 0;
	vertical-align:middle;
}
.textinputHovered {background-position:left bottom;}
.inputCorner {
	padding-bottom:0;
	vertical-align:middle;
}

/*Text areas*/
.txtarea .tr, .txtarea .tr_xon {background:url(../images/txtarea_tr.png) no-repeat top right;}
.txtarea .tr_xon {background:url(../images/txtarea_tr_xon.png) no-repeat top right;}
.txtarea img.txt_corner {
	width:5px;
	height:5px;
	display:block;
}
.txtarea .br, .txtarea .br_xon {background:url(../images/txtarea_br.png) no-repeat top right;}
.txtarea .br_xon {background:url(../images/txtarea_br_xon.png) no-repeat top right;}
.txtarea .cntr {background:url(../images/txtarea_cntr.png) repeat-y right top;}
.txtarea .cntr_xon {background:url(../images/txtarea_cntr_xon.png) repeat-y right top;}
.txtarea .cntr_l, .txtarea .cntr_l_xon {
	width:5px;
	background:url(../images/txtarea_l.png) repeat-y left top;
	float:left;
}
.txtarea .cntr_l_xon {background:url(../images/txtarea_l_xon.png) repeat-y left top;}
.txtarea textarea {
	border:0;
	background:none;
	padding:0;
	margin:5px;
}

/*Selects*/
.selectArea {
	width:200px;
	height:21px;
	background:url(../images/select_bg.png) repeat-x left top;
}
.selectArea .left {
	width:8px;
	height:21px;
	float:left;
	background:url(../images/select_left.png) no-repeat left top;
}
.selectArea .right {
	width:21px;
	height:21px;
	float:right;
	background:url(../images/select_right.png) no-repeat left top;
}
.selectArea .right a {
	display:block;
	width:200px;
	height:21px;
	margin-left:-179px;
	position:absolute;
}
.selectArea .right i {display:none;}
.selectArea .center {
	width:160px;
	color:#000;
	padding-top:3px;
	overflow:hidden;
	white-space:nowrap;
}

/*Selects drop-down*/
.optionsDivInvisible, .optionsDivVisible {
	position:absolute;
	margin-top:2px;
	margin-left:3px;
	width:172px;
	background:#FFF;
	padding: 2px;
	font-size:11px;
	z-index:20;
	max-height:200px; overflow-y:auto; overflow-x:hidden;
}
.optionsDivInvisible {display:none;}
.optionsDivVisible {display:block;}
.optionsDivVisible p {
	margin:0;
	padding:0;
}
.optionsDivVisible a {
	color:#000;
	text-decoration:none;
	display:block;
	padding:1px 1px;
	border:1px solid #FAFAFA;
}
.optionsDivVisible a:hover {
	color:#000;
	background:#FFFFD7;
	border-color:#cfd0d6;
}

/*Button*/
.buttonSubmit, .buttonSubmitHovered {
	width:auto;
	height:26px;
	color:#FFF;
	font-weight:bold;
	padding:2px;
	background:url(../images/button_bg.png) repeat-x left top;
	cursor:pointer;
	border:none;
}
.buttonSubmitHovered {background-position:left bottom;}
.buttonImg {vertical-align:bottom;}

.divLogin{
	background:url(../images/backTelaLogin.png) left top no-repeat;
	width: 550px;
	height: 310px;
}
.mensagem_erro_login {
	 text-align:left;
	 FONT: bold 12px Arial, Helvetica, sans-serif;
	 text-shadow: black;
	 color: DarkRed;
}