 
/* table */
.list {
	width: 100%;
	margin: 0;
	background: #fff;
	border-collapse: collapse;
	border-top: 1px solid #035652;
	border-bottom: 2px solid #035652;
	color:#000
}

/* reduced font size to save space */
.list tr {
	font-size: 90%;
}

/* prevent nested tables reducing font size further */
.list tr tr {
	font-size: 100%;
}

/* tinted rows */
.list tbody tr {
	background: #fff;
}

.list tr.odd {
	background: #e5edfe;
}

/* table cells */
.list th {
	font-weight: bold;
}

.list th, .list td {
	padding: .2em .5em;
}

/* tints for column headings */
.list thead {
	background: #5f859b;
}

/* tints for column headings */
#agrupamento_Dados .list thead {
	background: #a49a47;
}
#agrupamento_Dados .list tr.odd {
	background: #fffbd4;
}

/* tints for totals */
.list tfoot {
	background: #ada;
}

/* bold text for totals */
.list tfoot th, .list tfoot td {
	font-weight: bold;
}


.yui-skin-sam .yuimenubar{font-size:93%;line-height:2;*line-height:1.9;border:solid 1px #808080;
BACKGROUND: url(../images/top_menu_bg.png);
}
.yui-skin-sam .yuimenu {  
    font-size: 10pt;    
} 

.yui-skin-sam .yuimenubar ul {  
    font-size: 10pt;    
} 

  