BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/body_bg.jpg) #1c405f repeat-x left top; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #273a4a; LINE-HEIGHT: 135%; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; HEIGHT: 100%
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: scroll; PADDING-TOP: 0px; HEIGHT: 100%
}
BODY.f-smaller {
	FONT-SIZE: 10px
}
BODY {
	FONT-SIZE: 11px
}
BODY.default {
	FONT-SIZE: 11px
}
BODY.f-larger {
	FONT-SIZE: 12px
}
BODY.popUp {
	BACKGROUND: #fff
}
BODY.mceContentBody {
	BACKGROUND: white
}
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT: 24px/30px Arial, Helvetica, sans-serif; COLOR: #ffffff; LETTER-SPACING: -1px
}
H2 {
	FONT: 20px/26px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; LETTER-SPACING: -1px
}
H3 {
	FONT: 18px/24px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; LETTER-SPACING: 0px
}
H4 {
	FONT: bold 14px/19px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff
}
H5 {
	FONT: bold 12px/18px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff
}
H6 {
	FONT: bold 11px/17px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff
}
A {
	COLOR: #0c469e; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0c469e; TEXT-DECORATION: none
}
A.image {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A.image:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}

OL {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
FIELDSET {
	BORDER-RIGHT: #CBDFDA 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #CBDFDA 1px solid; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 15px; 
	MARGIN: 5px 0px 0px; 
	BORDER-LEFT: #CBDFDA 1px solid; 
	WIDTH: 95%; 
	PADDING-TOP: 5px; 
	BORDER-BOTTOM: #CBDFDA 1px solid;
}

legend {
    margin: 1em 0;
    padding: 0 .3em;
    color: #3975B0;
    background: transparent;
    font-size: 1.3em;
    font-weight: bold;
}
.both {
	CLEAR: both
}
INPUT {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
LABEL {
	VERTICAL-ALIGN: middle
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}

#background_2 {
	BACKGROUND: url(../images/background_2.jpg) no-repeat center top; HEIGHT: 55px
}
#background_1 {
	BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 55px
}
#site_wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 880px; PADDING-TOP: 0px; POSITION: relative
}
.top_line {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px
}
#top_wrap {
	MARGIN: 0px auto; WIDTH: 880px; POSITION: relative; HEIGHT: 23px; text-align: left; vertical-align: center;
}
#top_wrap #pathway {
	FONT-SIZE: 10px; right: 0px; POSITION: absolute; TOP: 8px; vertical-align: center;
}
#top_wrap #pathway STRONG {
	FONT: bold 10px  Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #CC6666; vertical-align: center;
}

#wrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/wrapper_bg.jpg) #557087 repeat-y left top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/content_bg.jpg) no-repeat center top; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
#top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 880px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 100px
}
.top_menu {
	BACKGROUND: url(../images/top_menu_bg.png) no-repeat left top; WIDTH: 880px; HEIGHT: 50px
}

#icone {

	float: right;
	position:absolute;
	text-align: right;
	color: #000;
	padding: 0px 0px 0px 770px;

}

#icone_tokio {

	float: right;
	position:absolute;
	text-align: right;
	color: #000;
	padding: 0px 0px 0px 670px;

}

#breadcrumb {
float: left;
	margin: 0;
	padding: 0;
	border: 0;
	position:absolute;
	background: url(../images/bgrounds/bg_trail.gif) repeat-x;
	padding-left: 5px;
	FONT: bold 12px Arial, Helvetica, sans-serif;
	color: #c80000;
	height: 33px;
	width:865px;
}

.divRecuadoDireito {
	float: right;
	position: relative;
	padding-right: 40px;
	padding-bottom: 0px;
	margin-bottom: 0px;

}

.divRecuadoEsquerdo {
	float: left;
	position: relative;
	padding-right: 40px;
	padding-bottom: 0px;
	margin-bottom: 0px;

}

.divRecuadoBotoesExportacao {
	float: center;
	position: relative;
	padding-left: 880px;

}


#breadcrumb li {

	list-style-type: none;
	display: inline;
}

#breadcrumb span {
	line-height: 2.3em;
	display: inline-block;
	height: 28px;
	padding-right: 20px;
	margin-right: 10px;
	background: url(../images/bgrounds/bg_trail_arrow.gif) top right no-repeat;
}
.button {
    border: 1px solid #c8c8c8;
    background: #CBDFDA;
	height: 22px;
	min-width: 90px;
	margin-right: 4px;
}
.button:hover {
    border: 1px solid #000;
    background: #f1fdf9;
}
.button:focus {
    border: 1px solid #000;
    background: #f1fdf9;
}

.buttonDetalhe {
    border: 1px solid #c8c8c8;
    background: #FFF7B1;
	height: 22px;
	min-width: 90px;
}
.buttonDetalhe:hover {
    border: 1px solid #000;
    background: #fdfbe5;
}
.buttonDetalhe:focus {
    border: 1px solid #000;
    background: #fdfbe5;
}

#nav {
	Z-INDEX: 1; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 880px; PADDING-TOP: 0px; POSITION: relative; HEIGHT:23px
}


#top H1 {
	RIGHT: 0px; WHITE-SPACE: nowrap; LETTER-SPACING: -1px; POSITION: absolute; TOP: 100px
}
#top H1 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#top H2 {
	CENTER: 0px; LETTER-SPACING: 0px; POSITION: absolute; TOP: 0px
}
#top H3 {
	LEFT: 0px;  WHITE-SPACE: nowrap; LETTER-SPACING: -1px; POSITION: absolute; TOP: 0px
}

#nav #searchform {
	RIGHT: 10px; BACKGROUND: url(../images/searchform_bg.gif) no-repeat left top; WIDTH: 120px; POSITION: absolute; TOP: 4px; HEIGHT: 22px; TEXT-ALIGN: left
}
#nav #menu {
	LEFT: 5px; WIDTH: 860px; POSITION: absolute; TOP: 3px; HEIGHT: 43px
}

#main_content {
	FLOAT: left; MARGIN: 0px; WIDTH: 870px; PADDING-TOP: 0px
}
#main_content2 {
	FLOAT: left; MARGIN: 0px; WIDTH: 880px; PADDING-TOP: 0px
}
#main_content #main_body {
	CLEAR: both; PADDING-LEFT: 10px
	
}

.cabecalho_relatorio {
	FONT: bold 13px Arial, Helvetica, sans-serif;
}

.titulo_agrupamento_Dados {
padding: 30px 0 0 0;
margin: 30px 0 0 0 ;
FONT: bold 12px Arial, Helvetica, sans-serif;
}

.titulo_sub_agrupamento_Dados {
padding: 0px 0 0 0;
margin: 30px 0 0 0 ;
FONT: bold 12px Arial, Helvetica, sans-serif;
}
.titulo_agrupamento_Resultados {
padding: 10px 0 0 0;
margin: 30px 0 0 0 ;
FONT: bold 12px Arial, Helvetica, sans-serif;
}

.agrupamento_Dados {
background: transparent;
color: #808080;
padding: 15px;
width: 575px;
margin: 0px 0 0px 0 ;
}

.agrupamento_resultado{
background: #ccc;
color: #000;
border-top: 1px #ccc;
border-bottom: 1px #ccc;
padding: 0px;
width: 100px;
margin: 0px 0 0px 0 ;
}

#main_content2 #main_body {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 880px
}
#slideshow {
	WIDTH: 580px
}
#slidebg {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; WIDTH: 570px; PADDING-TOP: 4px; HEIGHT: 140px
}
.slideshowContainer {
	BORDER-RIGHT: #65797d 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #65797d 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #65797d 1px solid; WIDTH: 570px; PADDING-TOP: 0px; BORDER-BOTTOM: #65797d 1px solid; HEIGHT: 140px
}
#slideshowContainer IMG {
	WIDTH: 570px; HEIGHT: 140px
}
.loading {
	BACKGROUND: url(../images/loading.gif) no-repeat center 50%
}

#footer {
	BACKGROUND: url(../images/footer_bg_round.png) no-repeat center bottom; MARGIN: 0px auto; WIDTH: 880px; COLOR: #bed7ed; HEIGHT: 53px
}
#footer_top_bg {
	BACKGROUND: url(../images/footer_top_bg.png) no-repeat center top; WIDTH: 880px; HEIGHT: 23px
}
#f_bot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#foo_glass {
	BACKGROUND: url(../images/foo_glass.png) no-repeat center top; MARGIN: 2px auto; WIDTH: 880px; HEIGHT: 46px
}
#footer P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px Arial, Helvetica, sans-serif; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#footer P A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#footer P A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.pathway {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; LINE-HEIGHT: 13px; PADDING-TOP: 0px; vertical-align: center;
}
A.pathway {
	COLOR: #ff9c00; TEXT-DECORATION: none
}
A.pathway:hover {
	TEXT-DECORATION: underline
}
SPAN.pathway IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
A.mainlevel {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/li_bg.gif) repeat-x center bottom; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: 11px/12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #0c629e; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.mainlevel:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: 11px/12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#left_col DIV.module  TABLE TR TD DIV {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: middle; WIDTH: 130px; LINE-HEIGHT: 12px; PADDING-TOP: 8px
}
DIV.module TABLE TD DIV IMG {
	FLOAT: left; WIDTH: 12px; HEIGHT: 12px
}
A.mainlevel#active_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: 11px/12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #0c629e; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#active_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: 11px/12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#active_menu:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: 11px/12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.sublevel {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 3px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px! important; MARGIN: 0px; FONT: 11px/14px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 130px! important; COLOR: #0c629e; PADDING-TOP: 5px! important; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.module TABLE TD DIV A#active_menu {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 3px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px! important; MARGIN: 0px; FONT: 11px/14px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 130px! important; COLOR: #0c629e; PADDING-TOP: 5px! important; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.sublevel:hover {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: 11px/14px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 130px; COLOR: #b13600; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.module TABLE TD DIV A#active_menu:hover {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: 11px/14px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 130px; COLOR: #b13600; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}

.search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.search .button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; FONT: bold 11px/20px Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; WIDTH: 55px; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LETTER-SPACING: 0px; HEIGHT: 21px; BORDER-BOTTOM-STYLE: none
}
.search .button:hover {
	COLOR: #eeeeee
}
.search .inputbox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 17px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; MARGIN: 0px; FONT: 11px Tahoma, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; WIDTH: 90px; COLOR: #a6bcd4; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 17px; BORDER-BOTTOM-STYLE: none
}

.contentpane {
	
}
.contentpaneopen {
	MARGIN: 0px 0px 10px; LINE-HEIGHT: 16px
}


FORM {
	MARGIN: 0px
}

.inputbox {
	BORDER-RIGHT: #1c405f 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #1c405f 1px solid; PADDING-LEFT: 3px; BACKGROUND: url(../images/input_bg.gif) #ffffff repeat-x left top; PADDING-BOTTOM: 3px; MARGIN: 2px 0px; BORDER-LEFT: #1c405f 1px solid; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #1c405f 1px solid
}
.text_area {
	BORDER-RIGHT: #1c405f 1px solid; BORDER-TOP: #1c405f 1px solid; BACKGROUND: url(../images/input_bg.gif) #ffffff repeat-x left top; BORDER-LEFT: #1c405f 1px solid; WIDTH: 95%; COLOR: #333333; BORDER-BOTTOM: #1c405f 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #1c405f 1px solid; BORDER-TOP: #1c405f 1px solid; BACKGROUND: url(../images/input_bg.gif) #ffffff repeat-x left top; BORDER-LEFT: #1c405f 1px solid; WIDTH: 95%; COLOR: #333333; BORDER-BOTTOM: #1c405f 1px solid
}
.selectbox {
	WIDTH: 100%
}

#left_col SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0px; WIDTH: 170px; COLOR: #666; PADDING-TOP: 0px; HEIGHT: auto
}
#left_col #mod_templatechooser_jos_change_template {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0px; WIDTH: 170px; COLOR: #666; PADDING-TOP: 0px; HEIGHT: auto
}
#left_col OPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0px; WIDTH: 170px; COLOR: #666; PADDING-TOP: 0px; HEIGHT: auto
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0px; WIDTH: 190px; COLOR: #666; PADDING-TOP: 0px; HEIGHT: auto
}
SELECT OPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0px; WIDTH: 170px; COLOR: #666; PADDING-TOP: 0px; HEIGHT: auto
}
#left_col SELECT {
	BORDER-RIGHT: #e6e6e6 1px solid; BORDER-TOP: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid
}
#main_content SELECT {
	WIDTH: auto
}
#main_content SELECT OPTION {
	WIDTH: auto
}

.mensagem_erro {
	 text-align:left;
	 FONT: bold 12px Arial, Helvetica, sans-serif;
	 text-shadow: black;
	 color: DarkRed;
}
.mensagem_alerta {
	 text-align:left;
	 FONT: bold 12px Arial, Helvetica, sans-serif;
	 text-shadow: black;
	 color: DarkYellow;
}

.mensagem_sucesso {
	 text-align:left;
	 FONT: bold 12px Arial, Helvetica, sans-serif;
	 text-shadow: black;
	 color: DarkGreen;
}

.autocompleteFonte{
	FONT-SIZE: 11px
}

.contaVencida_style {
	 FONT: bold 12px Arial, Helvetica, sans-serif;
	 text-shadow: black;
	 color: DarkRed;
}

